NEXT_PUBLIC_SUPABASE_URL=https://aiosgumdbgoxfssgxssj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFpb3NndW1kYmdveGZzc2d4c3NqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTAyOTA1MjIsImV4cCI6MjEwNTg2NjUyMn0.BIyHDt_KXC3MoIXRWE8zj92ag9dVyO22GIZmfE8RNN8
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFpb3NndW1kYmdveGZzc2d4c3NqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc5MDI5MDUyMiwiZXhwIjoyMTA1ODY2NTIyfQ.prei7Kut2M3tU2-yFHg4jf1QX1JpETbCWP4SiyT7PoE

