NEXT_PUBLIC_SUPABASE_URL=https://aiosgumdbgoxfssgxssj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFpb3NndW1kYmdveGZzc2d4c3NqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTAyOTA1MjIsImV4cCI6MjEwNTg2NjUyMn0.BIyHDt_KXC3MoIXRWE8zj92ag9dVyO22GIZmfE8RNN8
PORT=3000
